.profile-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.user-info {
    margin-bottom: 30px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.game-history-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meme-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.action-buttons {
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.error-message {
    color: #dc3545;
}

#meme_image {
    /* display: none; */
    width: 400px;
    height: 400px;
}

#correct_selected {
    color: green;
    /* bold */
    font-weight: bold;
}

.caption-selected {
    font-weight: bold;
}

.caption-selected.incorrect {
    color: red;
}